form * {
	vertical-align: middle;
}

label {
	display: block;
}

textarea {
	display: inline-block !important;
}

a {
	text-decoration: none;
}

ul.Tree, .Tree ul {
	list-style: none;
}

.Tree li a {
	color: black;
	background: url('images/notrun.png') no-repeat left center;
	padding-left: 20px;
	margin-left: -20px;
}

.Hidden {
	display: none;
}

.Tree .Passed > a {
	background-image: url('images/passed.png');
	color: green;
}

.Tree .Failed > a {
	background-image: url('images/failed.png');
	color: red;
}

.Copyrights {
	font-size: 80%;
}