html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body > * {
	margin-left: 10px;
}

form * {
	vertical-align: middle;
}

label {
	display: block;
}

textarea {
	display: inline-block !important;
}

a {
	text-decoration: none;
}

.Hidden {
	display: none;
}

ul.Tree, .Tree ul {
	list-style: none;
}

.Tree ul {
	padding-left: 20px;
}

.Tree {
	width: 50%;
	height: 60%;
	overflow: auto;
	padding: 0;
	
	border: solid 1px gray;
}

.Tree > li {
	margin-left: 35px;
}

.Tree > li:first-child {
	margin-top: 10px;
}

.Tree li a {
	color: black;
	background: url('images/notrun.png') no-repeat left center;
	padding-left: 20px;
	margin-left: -20px;
	
	white-space: nowrap;
}

.Tree .Passed > a {
	background-image: url('images/passed.png');
	color: green;
}

.Tree .Failed > a {
	background-image: url('images/failed.png');
	color: red;
}

.Copyrights {
	font-size: 80%;
}
